/* ==|== HelpLess - LESS Helpers Library (http://m6tt.github.com/HelpLess) = */
@import 'libs/helpless.0.0.3.less';

/* ==|== Import HTML5 ✰ Boilerplate LESS library =========================== */
@import 'libs/boilerplate.less';

@import 'libs/forms.less';

/* Normalize */
#blr.normalize(#0abbcd, #555);

/**
 * flexible sizings from Golden Grid System
 *
 */
input, textarea, button, select {
	margin: 0;
	font-size: 100%;
	line-height: normal;
	vertical-align: baseline;
}
button,
html input[type="button"], 
input[type="reset"], 
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		   -o-box-sizing: border-box;
		  -ms-box-sizing: border-box;
			    box-sizing: border-box;
}
textarea {
	overflow: auto;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ==|== primary styles =====================================================
   Author:
  ========================================================================== */

@lt_purple: #946acd;
@med_purple: #8251c5; 
@dark_purple: #28008a;


body {
  background: #eee;
  margin-top: 40px; /* to make room for the header topbar */
  padding: 0 10px 10px;
}

.container {
  margin: 0 auto;
  max-width: 480px;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left:  0;
  height: 40px;
  width: 100%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  z-index: 1500;
  color: #fff;
  background: #8251c5 url('/img/header-bg.png');

  #header-content {
    padding: 0 6%;
    position: relative;
  }

  h1 {
    margin: 0 0 0 25px;
    padding-top: 3px;
    text-align: left;
    font-size: 1em;
    line-height: 1;
    overflow: hidden;
    text-indent: -4000px;
    width: 141px;
        
    a {
      display: block;
      width: 141px;
      height: 36px;
      background: transparent url('/img/badgemanship-logo.png') center center no-repeat; 
    
    }
  }
  
  a,
  a:visited,
  a:hover {
    color:  #fff;
    text-decoration: none;
  }
  
  a#add-activity {
    position: absolute;
    margin-top: 4px;
    display: block;
    text-decoration: none;
    display: block;
    height: 25px;
    width: 25px;
    text-align: left;
    text-indent: -4000px;
    background: transparent url('/img/add-icon.png') no-repeat;
  }
  
  a#add-activity {
    top: 4px;
    left: 3%;
  }
  
  ul#primary-nav {
    margin: 0;
    padding: 0;
    height: 40px;
    position: absolute;
    top: 0;
    right: 3%;
    
    li {
      list-style: none;
    }
    
    // The dropdown menu (ul)
    
    .dropdown-toggle {
      position: absolute;
      padding: 0 10px;
      right: 6%;
      color: rgba(255,255,255, 0.9);
      font-weight: bold;
      height: 40px;
      line-height: 40px;
      #hl.text-shadow(0, 1px, 0, @dark_purple);
      
        &:hover {
          background: rgba(255,255,255, 0.2);
        }
    }
    
    ul.dropdown-menu {
      background-color: #fff;
      float: left;
      display: none; // None by default, but block on "open" of the menu
      position: absolute;
      top: 40px;
      right: 0;
      z-index: 900;
      min-width: 160px;
      max-width: 220px;
      _width: 160px;
      margin: 0;
      padding: 6px 0;
      zoom: 1; // do we need this?
      border-color: #999;
      border-color: rgba(0,0,0,.2);
      border-style: solid;
      border-width: 0 1px 1px;
      background-color: #333;
      #hl.rounded-corners(0,0,6px,6px);
      #hl.drop-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.16));
      
      // Unfloat any li's to make them stack
      li {
        float: none;
        display: block;
        background-color: none;
        padding: 5px 10px;
      }
    }
    
    .open .dropdown-menu {
      display: block;
    }
  }
}

div#main {
  background: #fff;
  padding: 0;
  border-radius: 0 0 6px 6px;
  #hl.rounded-corners(0,0,6px,6px);
  #hl.drop-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.16));
}

div#page-header {
  background: #f5f5f5;
  padding: 5px 6% 0;
  border-bottom: 1px solid #ddd;
  #hl.clearfix;
}

div.secondary-nav {
  margin: 0 0 0px;
  padding: 0;
  list-style: none;
  zoom: 1;
  float:left;
  width: 100%;
  
  
  ul {
    list-style:none;
    padding: 0;
    font-weight: bold;
    float: left;
    position: relative;
  
    li {
      float: left;
      position: relative;
      margin: 0 2px;
      padding: 0;
    }
  
    li a, 
    li span {
      @transition: background ease .1s;
      .transition(@transition);
      padding: .5em;
      #hl.rounded-corners(10px, 10px, 10px, 10px);
      text-decoration: none;
      color: @med_purple;
    }
    
    li a:hover {
      color: #fff;
      background-color: @med_purple;
    }
  
    li.active span {
      color: white;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
      background-color: @med_purple;
    }
  }
}



div#page-content {
  padding: 10px 6% 10px;
}

article {
  padding-bottom:  20px;
  border-bottom: 1px solid #ddd;
  
  &:last-child {
    padding-bottom:  20px;
    border-bottom: none;
  }
}


article.activity {
  footer > * {
    width: 50%;
    margin: 0;
  }

  p.measure,
  p.project {
    float: left;
    clear: left;
  }
  
  span.label,
  span.quantity {
    font-weight: bold;
  }
  
  p.author,
  article.activity p.published {
    margin-left: 50%;
  }
  
  p.project,
  p.published {
    font-size: .9em;
    color: #777;
  }
  
  footer p.author img {
    height: 1.25em;
    vertical-align: text-top;
    margin-right: .5em;
  }
}

article.badge {
  div.progress-meter {
    background: #aaa;
    #hl.rounded-corners(6px);
    #hl.inner-shadow(0, 1px, 1px, rgba(0,0,0,.3);
    
    .progress-meter-current {
      display: inline-block;
      background: @med_purple;
      text-align: right;
      #hl.rounded-corners(6px, 0, 0, 6px);
      #hl.drop-shadow(1px, 0, 1px, rgba(0,0,0,.3);
//      #hl.background-gradient(@med_purple, @lt_purple 50%, @med_purple 50%);
      padding: 4px 7px;
     /** 
      * Diagonal stripes
      */
     background: -webkit-linear-gradient(-45deg, lighten(@med_purple, 5%) 25%, @med_purple 25%, @med_purple 50%, lighten(@med_purple, 5%) 50%, lighten(@med_purple, 5%) 75%, @med_purple 75%, @med_purple);
     background-size:60px 60px;
      
      span {
        color: #fff;
        #hl.text-shadow(0, 1px, 0, @dark_purple);
      }        
    } 
  }
  &.awarded {
    .progress-meter {
      .progress-meter-current {
         #hl.rounded-corners(6px, 6px, 6px, 6px);
         #hl.drop-shadow(0,0,0);
         
       }
    }
  }
}

#ActivityAddForm {
  label {
    display: none;
  }
  
  input {
    font-size: 16px;
    width: 100%;
  }
  
  .submit {
    width:  60%;
    margin: auto;
    text-align: center;
    
    input {    
      @transition: background linear .1s;
      .transition(@transition);
    
      background: @med_purple;
      #hl.background-gradient(@med_purple, @lt_purple 50%, @med_purple 50%);
      color: white;
      #hl.rounded-corners(6px);
      #hl.text-shadow(0, 1px, 0, @dark_purple);
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      
      &:hover {
        background: darken(@med_purple, 10%);
        #hl.text-shadow(0, -1px, 0, @dark_purple);
        
      }
      &:focus,
      &:active {
        background: @lt_purple;       
      }
      
    }
  }
  
  .quantity-measure {
    input {
      padding: 8px 4%;
      width: 92%;
      line-height: 20px;
    }
    .input-quantity {
      width: 20%;
      float: left;
      
      input {
        padding: 8px 10%;
        width: 80%;
        text-align: center;
      }
    }
    
    .label-x {
      width: 10%;
      float: left;
      text-align: center;
      line-height: 32px;
      font-weight: bold;
      font-size: 18px;
      padding: 0;
      overflow: hidden;
    }
    
    .input-measure {
      width: 70%;
      float: right;
    }
    .input-description {
      clear: both;
      textarea {
        margin: 10px 0 6px;
        width: 92%;
        padding: 8px 4%;
        font-size: 16px;
        
      }
    }
  
  }
}

// BASELINE STYLES
// ---------------

table {
  width: 100%;
  padding: 0;
  border-collapse: collapse;
  th,
  td {
    padding: 10px 10px 9px;
    text-align: left;
  }
  th {
    padding-top: 9px;
    font-weight: bold;
    vertical-align: middle;
  }
  td {
    vertical-align: top;
    border-top: 1px solid #ddd;
  }
  // When scoped to row, fix th in tbody
  tbody th {
    border-top: 1px solid #ddd;
    vertical-align: top;
  }
  &.bordered-table {
    border: 1px solid @lt_purple;
    border-collapse: separate; // Done so we can round those corners!
    *border-collapse: collapse; /* IE7, collapse table to remove spacing */
    .border-radius(4px);
    th + th,
    td + td,
    th + td {
      border-left: 1px solid #ddd;
    }
    
    thead tr:first-child th:first-child {
      .border-radius(4px 0 0 0);
    }
    thead tr:first-child th:last-child {
      .border-radius(0 4px 0 0);
    }
    tbody tr:last-child td:first-child {
      .border-radius(0 0 0 4px);
    }
    tbody tr:last-child td:last-child {
      .border-radius(0 0 4px 0);
    }
  }

  // ZEBRA-STRIPING
  // --------------
  
  // Default zebra-stripe styles (alternating gray and transparent backgrounds)
  &.zebra-striped {
    tbody {
      tr:nth-child(odd) td,
      tr:nth-child(odd) th {
        background-color: #f9f9f9;
      }
      tr:hover td,
      tr:hover th {
        background-color: #f5f5f5;
      }
    }
  }

}

/* ==|== media queries ====================================================== */
/* Screen width <= 320px */
@media only screen and (max-width: 320px) {

}

/* Screen width > 320px */
@media only screen and (min-width: 321px) and (max-width: 480px) {

}

/* Screen width > 480px */
@media only screen and (min-width: 481px) and (max-width: 768px) {

}

/* Screen width > 768px */
@media only screen and (min-width: 769px) and (max-width: 1024px) {

}

/* Screen width > 1024px */
@media only screen and (min-width: 1023px) and (max-width: 1280px) {

}

/* Screen width > 1280px */
@media only screen and (min-width: 1281px) {

}

